@import "../node_modules/bootstrap/scss/mixins";

// RemCalc function for accessibility;
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

body {
  #root {
    display: flex;
  }
  .app {
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Varela Round", sans-serif;
    background-color: #eee;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    h1,
    h2,
    h3 {
      font-weight: bold;
    }
    h1 {
      font-size: calculateRem(40px);
    }
    h2,
    h3 {
      margin: 0 0 30px 0;
    }
    h2 {
      font-size: calculateRem(30px);
    }
    h3 {
      font-size: calculateRem(20px);
    }
    p {
      font-size: calculateRem(16px);
      margin: 0 0 20px 0;
    }
  }
}

.hdr {
  text-align: center;
}

.film-card {
  border: none;
  background-color: transparent;
  padding: 0 30px 0 30px;
  .card-container {
    margin-bottom: 30px;
    .card-item {
      border-radius: 8px;
      box-shadow: 10px 10px 18px 0px rgba(166, 158, 166, 1);
      overflow: hidden;
      border: solid 1px #f8f8f8;
      box-sizing: border-box;
      background-color: #fff;
      position: relative;
      margin: 0;
    }
    .image-container {
      border-radius: 8px;
      overflow: hidden;
      padding: 15px;
    }
    .info-container {
      padding: 15px;
    }
  }
}

.img {
  box-sizing: border-box;
  width: 100%;
  &.img-card {
    border-radius: 8px;
    border: solid 2px #000111;
  }
}

.frm {
  margin-bottom: 30px;
  &.frm-header {
    width: 100%;
    text-align: center;
  }
  .slct {
    border: 2px solid #aaa;
    color: #333;
    font-size: calculateRem(14px);
    padding: 10px 15px;
    height: 40px;
    width: 80px;
    max-width: 100%;
  }
  .lbl-spn,
  .lbl {
    color: #333;
    font-size: calculateRem(20px);
    padding: 10px 15px;
    height: 40px;
    max-width: 100%;
  }
}

.info-spn {
  border: 2px solid black;
  border-radius: 4px;
  display: inline-block;
  font-size: calculateRem(12px);
  font-weight: bold;
  padding: 3px 10px;
  margin: 20px 5px 5px 0;
}
